@font-face {
    font-family: YesevaOne;
    src: url(fonts/YesevaOne-Regular.ttf);
}


:root {
    --main-bg: #fefae0;
    --palette1-light: #e9edc9;
    --palette1-medium: #ccd5ae;
    --palette1-dark: #5E6642;
    --palette2-light: #faedcd;
    --palette2-dark: #d4a373;
    --main-dark: #344e41;
    --secondary-dark: #637f71;
    --secondary-light: #a3c4b5;
    --danger-main: #f99;
    --danger-secondary: #f66;
    --danger-light: #ffc7cc;
    --inactive: #ccc;
    --inactive-dark: #b2b5ba;
    --warning-main: #ffd3a2;
    --warning-light: #ffe9bc;
    --success-main: #ccd5ae;
    --success-light: #e9edc9;
    --info-main: #637f71;
    --info-dark: #4a5f56;
    --info-light: rgba(99, 127, 113, 0.25);
    --filters: #ede9cf;
    --info-badge: #8bafce;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    background-color: var(--main-bg);
    color: var(--main-dark);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: YesevaOne, serif;
    color: var(--main-dark);
}
