@import './base.css';
@import './bootstrap-override.css';

h1 {
    text-align: center;
    margin-top: 20px !important;
}


h2 {
    color: var(--main-dark);
    font-family: YesevaOne, serif;
    margin-top: 20px !important;
}


.wishlist-container {
    width: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--palette1-medium);
    padding: 30px
}

.wishlist-title {
    font-size: 2rem;
}


/* HEADER */
header .btn-custom {
    margin-top: 5px;
    background-color: var(--palette1-medium);
}

header .btn-custom:focus {
    background-color: var(--palette1-medium);
    border-color: 0 0 0 0.25rem var(--palette1-light);
}

header .btn-custom:hover {
    background-color: var(--palette1-medium);
    border-color: 0 0 0 0.25rem var(--palette1-light);
}

.current-user-header {
    background-color: var(--secondary-dark) !important;
    color: var(--main-dark);
}

/* CHECKBOX SWITCH */
.form-switch.form-check {
    display: inline-block;
}


/* WISHLIST */
.utils-row.utils-row-main {
    background-color: var(--palette2-light);
}

.utils-row {
    border-radius: 15px;
    padding: 10px;
    width: auto;
}

.row-separator {
    border-right: 1px solid #00000040;
}

/* WISHLIST CARDS */
.user-wishes {
    overflow-wrap: break-word;
    margin-bottom: 30px;
}

.user-wishes .header {
    background-color: var(--palette1-medium);
    text-align: center;
    color: var(--main-dark);
    font-family: 'DM Serif Text', serif;
    font-size: 1.5rem;
}

.pointer-grab {
    cursor: grab;
}

.crossed-text {
    text-decoration: line-through;
}


.btn-warning-custom {
    background-color: var(--palette1-medium);
}

.welcome-img {
    width: 150px;
    height: auto;
    margin: 40px auto 50px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    gap: 30px;
}


.add-user {
    background-color: var(--palette2-light);
    color: var(--main-dark);
    border: var(--palette1-dark) solid 1px;
    margin-bottom: 20px;
}

.connected-users-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*display: grid;*/

}

.user-circle-badge {
    width: 30px;
    height: 30px;
    background-color: var(--palette1-medium);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    /*grid-area: -1 / 2;*/
    margin-left: -10px;
}

#circle span {
    text-align: center;
    vertical-align: middle;
    color: var(--main-dark);
}

#tooltip-others {
    white-space: pre-wrap;
}



@media (min-width: 768px) {
    .wishlist-container {
        margin-top: 50px;
    }

    .wishlist-title {
        font-size: 2.5rem;
    }

    .welcome-img {
        width: 300px;
    }

    .user-circle-badge {
        margin-left: -5px;
    }
}

@media (min-width: 992px) {
    .wishlist-container {
        Width: 60%;
        margin: auto;
    }

    .wishlist-title {
        font-size: 3rem;
    }

    .welcome-img {
        width: 500px;
        height: auto;
    }

    .welcome-container {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}
